<!DOCTYPE HTML>
<html>
	<head>
		<title>iDevops</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    	<link rel="import" href="../bower_components/iron-form/iron-form.html">
    	<link rel="import" href="../bower_components/polymer/polymer.html">
    	<link rel="import" href="../bower_components/iron-component-page/iron-component-page.html">
    	<link rel="import" href="../bower_components/paper-button/paper-button.html">
    	<link rel="import" href="../bower_components/paper-input/paper-input.html">
    	<link rel="import" href="../bower_components/polymer-password-strength/password-strength.html">
    	<link rel="import" href="bower_components/gold-password-input/gold-password-input.html">
		<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Welcome to iDevops.io</a></h1>
					<nav id="nav">
						<ul>
							<li><button type="button" class="button special" data-toggle="modal" data-target="#myModal" class="button">Sign In</button></li>
							<li><button type="button" class="button special" data-toggle="modal" data-target="#myModal2" class="button">Sign Up</button></li>
							<li><a href="/logout" ><button type="button" class="button special" class="button">Logout</button></a></li>

							<!-- <li><a href="#" class="button special">Hire "Coming soon"</a></li> -->
						</ul>
					</nav>
				</header>
				<!-- Login Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
				<iron-form id="form2">
			  <form action="/login" method="post">
			    <paper-input name="username" label="Username"  required></paper-input>
			    <gold-password-input name="password" label="Password" reveal suffix>
				</gold-password-input>
			    <paper-button id="submitForm" raised onclick="form2.submit()";>Submit</paper-button>
			    <!-- <paper-button raised onclick="form3.reset()">Reset</paper-button> -->
			  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- <% if (user) {%>
<div class="alert alert-danger"><p>Username has taken already try new</p></div>
<% }%>
<% if (mail) {%>
<div class="alert alert-danger"><p>Email has taken already try new</p></div>
<% }%> -->
<!-- <% if (errors) {%>
<% messages.forEach((message) => { %>
<div class="alert alert-danger"><p><%= msg %></p></div>
<% });%>
<% }%> -->
<!-- Register Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">

			<iron-form id="form3">
				<form action="/register" method="post">
			    <paper-input name="emailaddress" label="Email"></paper-input>
			    <paper-input name="firstname" label="Firstname"></paper-input>
			    <paper-input name="lastname" label="Lastname"></paper-input>
			    <paper-input name="username" label="Username"></paper-input>
			    <gold-password-input name="password" label="Password" reveal prefix strength-meter>
			</gold-password-input>
			<gold-password-input name="password2" label="Retype Password" reveal prefix strength-meter>
	</gold-password-input>
			    <paper-button raised onclick="form3.submit()">Submit</paper-button>
			    <!-- <paper-button raised onclick="form3.reset()">Reset</paper-button> -->
			  </form>
			  <!-- <div class="output"></div> -->
			</iron-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>Hire or Learn.</h1>
							<p>Become a Devops engineer and change your life today.<br />
							Hire one of our highly trained DevOps engineers and change your business today.<br>
							“There’s no ‘wax on, wax off’ with DevOps. Learn by doin’ it.”
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Innovative Training</h2>
										<p>“There’s no ‘wax on, wax off’ with DevOps. Learn by doin’ it.”. </p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Our program teaches DevOps by having unpaid interns accomplish DevOps tasks.
										The first steps of the program are rather traditional establishing a solid
										foundation of skills required for DevOps.<br><br>
										After displaying a solid understanding of the foundational
										skills for DevOps interns will participate in scrums as a DevOps engineer for iDevOps completing daily DevOps sprint tasks learning how to be an effective DevOps engineer.
										Interns will also study and schedule certification exams,
										all certifications must be complete before completion of the program and placement can happen.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Certifications:
									<ul>

										<li>Python from Expert Rating.</li>
										<li>Scrum Master.</li>
										<li>AWS Certified SysOps Administrator Associate.</li>
										<li>AWS Certified Solutions Architect Associate.</li>
										<li>AWS Certified DevOps Engineer Professional.</li>
										<li>AWS Certified Solutions Architect Professional.</li>
								</ul></p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Why would you hire a DevOps engineer from iDevOps?</h2>
							<p>We believe in teaching people by having them do exactly what they would be doing in the real world.</p>
						</header>
						<p>We teach a method that allows interns to complete real world DevOps tasks they have no experience in.
							They learn a method of research and approach to solving DevOps tasks.
							We do this in order to assure that no matter what technology
							is thrown at them, they can quickly become and expert and complete the tasks.
							We teach a method of approach to solving problems that teaches adaptability.</p>
						<ul class="actions">
							<li><a href="#" class="button">Hire</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Open Source Software</h2>
							<p>DevOps open source software interns have produced will be released in the future.</p>
						</header>
						<p> iDevops will offer a technology suite and open source automation scripts
							to show off the interns capabilities. Solving real world everyday DevOps problems so you don't have to.</p>
						<ul class="actions">
							<li><a href="#" class="button">Coming Soon.</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!--
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>

						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section>
			Four -->
			<!-- Five
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Take your life back.</h2>
							<p>Put in your email address and sign up to be an unpaid intern in our program today. Don't wait anyone can do it, you just have to put in the work.</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>
				-->

				<footer id="footer">
					<!-- Footer
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					-->
					<ul class="copyright">
						<li>2018 &copy; iDevOps. All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>$("myModal").on('submit', function(e){
				$.post("/login", $(this).parent("form").serialize(),
					function(){
						window.location.href = "/dashboard";
					}
				);
				e.preventDefault();  
			});</script>
			


	</body>

</html>
